# Python 101

# Basics

## Variables

## Built-in data types
<table style="float: left; text-align: left; vertical-align:top">
    <tr style="border-bottom: 1px solid;">
        <th style="border-right: 1px solid; ">Group</th>
        <th style="border-right: 1px solid; ">Type</th>
        <th>Usage</th>
        <th>Result</th>
    </tr>
    <tr style="border-bottom: 1px solid;">
        <td style="border-right: 1px solid; ">Text</td>
        <td style="border-right: 1px solid; ">str</td>
        <td>"Pragmatic AI"</td>
        <td></td>
    </tr>    
    <tr>
        <td rowspan=3 style="vertical-align: top; border-right: 1px solid;">Numeric</td>
        <td style="border-right: 1px solid; ">int</td>
        <td>123</td>
        <td></td>
    </tr>
    <tr>
        <td style="border-right: 1px solid; ">float</td>
        <td>123.0</td>
        <td></td>
    </tr>
    <tr style="border-bottom: 1px solid;">
        <td style="border-right: 1px solid; ">complex</td>
        <td>1+2j</td>
        <td></td>
    </tr>
    <tr>
        <td rowspan=6 style="vertical-align: top; border-right: 1px solid; border-bottom: 1px solid">Sequence</td>
        <td style="border-right: 1px solid; ">list</td>
        <td>["apple", "banana", "cherry"]</td>
        <td></td>
    </tr>    
    <tr>
        <td rowspan=2 style="border-right: 1px solid; vertical-align: top">tuple</td>
        <td>("apple", 120.5, "fruit")</td>
        <td></td>
    </tr>
    <tr>
        <td>(1,)</td>
        <td></td>
    </tr>
    <tr>
        <td rowspan=3 style="border-right: 1px solid; vertical-align: top;border-bottom: 1px solid;">range</td>
        <td>range(5)</td>
        <td>0, 1, 2, 3, 4</td>
    </tr>
    <tr>
        <td>range(5,8)</td>
        <td>5, 6, 7</td>
    </tr>
    <tr>
        <td style="border-bottom: 1px solid; ">range(0,20, 5)</td>
        <td style="border-bottom: 1px solid; ">0, 5, 10, 15</td>
    </tr>
    <tr style="border-bottom: 1px solid;">
        <td style="border-right: 1px solid; ">Mapping</td>
        <td style="border-right: 1px solid; ">dict</td>
        <td>{ "vendor": "Apple", "model": "Mac Book Pro", "year_of_production": 2022 }</td>
        <td></td>
    </tr>
    <tr>
        <td rowspan=2 style="vertical-align: top; border-right: 1px solid; ">Set</td>
        <td style="border-right: 1px solid; ">set</td>
        <td>set([1, 2, 3])</td>
        <td></td>
    </tr>    
    <tr style="border-bottom: 1px solid;">
        <td style="border-right: 1px solid; ">frozenset</td>
        <td>frozenset([1, 2, 3])</td>
        <td></td>
    </tr>
    <tr>
        <td rowspan=2 style="border-right: 1px solid; vertical-align: top;border-bottom: 1px solid;">Boolean</td>
        <td rowspan=2 style="border-right: 1px solid; vertical-align: top;border-bottom: 1px solid;">bool</td>
        <td>True</td>
        <td></td>
    </tr>
    <tr style="border-bottom: 1px solid;">
        <td>False</td>
        <td></td>
    </tr>
    <tr style="border-bottom: 1px solid;">
        <td style="border-right: 1px solid; ">None</td>
        <td style="border-right: 1px solid; ">NoneType</td>
        <td>None</td>
        <td></td>
    </tr>

</table>

Although tuples may seem similar to lists, they differ:
* tuples are immutable
* single-element tuples require a trailing comma, e.g.: (1,)
* tuples are lighter and slightly faster
* usually lists are used for homogeneous data types, while tuples often have heterogeneous data

## Assignment

In [29]:
name = "Bartek"     # str
age = 43            # 
height = 1.82       # float
is_admin = False    # bool

complex_number = 2 + 3j

a, b = 10, 40
print('First', a, b)

b, a = a, b
print('Second', a, b)

First 10 40
Second 40 10

In [25]:
# TRY BY YOURSELF - WRITE CODE HERE

## Type conversions

In [376]:
print(int(3.7))  # Output: 3
print(int('7'))  # Output: 7

print(float(7))   # Output: 7.0
print(float('3.7'))  # Output: 3.7

print(str(3))  # Output: '3'
print(str(3.7))  # Output: '3.7'

3
7
7.0
3.7
3
3.7

In [35]:
# TRY BY YOURSELF - WRITE CODE HERE
# "Bartek" + "asijdoajdso"
#2 + 3

x = "2"
y = "3"

int(x)+int(y)

5

## Strings

In [1]:
txt1 = 'Single-quoted txt'
print(txt1)

txt2 = "Double quoted txt"
print(txt2)

txt3 = """Multi line
textd
using three double-quotes"""
print(txt3)

Single-quoted txt
Double quoted txt
Multi line
textd
using three double-quotes

In [164]:
# TRY BY YOURSELF - WRITE CODE HERE

#### Interpolation

In [57]:
name = "Bartek"

message = f"Hello, {name}, how are you doing today {23 + 11}? "
message
# print(message)

# "Hello, " + name + ", how are you?"

'Hello, Bartek, how are you doing today 34? '

In [331]:
# TRY BY YOURSELF - WRITE CODE HERE

#### Interpolation with padding, justification and filler character

In [343]:
name = "Bartek"

print("-"*15)
print(f"{name:<15}")
print(f"{name:^15}")
print(f"{name:>15}")

# filler
print(f"{name:.^15}")

---------------
Bartek
    Bartek
         Bartek
....Bartek.....

In [164]:
# TRY BY YOURSELF - WRITE CODE HERE

#### Raw strings

In [58]:
r"x\nqqq{qq}"

'x\\nqqq{qq}'

In [164]:
# TRY BY YOURSELF - WRITE CODE HERE

#### Slicing

In [2]:
course = "This is a test"
print(course[0])
print(course[1:7])
print(course[5:])
print(course[-4:])
print(course[1:-3])

T
his is
is a test
test
his is a t

In [164]:
# TRY BY YOURSELF - WRITE CODE HERE

#### Common operations on strings

In [76]:
qqq = "qwehrijhqweir"
qqq.startswith("qw")

True

In [607]:
name = "Bartek Pampuch"

print(name.startswith("b")) # False
print(name.startswith("B")) # True

print(name.lower().startswith("ba")) # True
print(name.count("a"))      # 2
print(name.split(" "))      # [ 'Bartek', 'Pampuch' ]

False
True
True
2
['Bartek', 'Pampuch']

In [608]:
print(", ".join(["Bartek", "Ann", "John"]))  # Bartek, Ann, John

Bartek, Ann, John

#### Finding substrings

In [621]:
print(name.find("art"))    # 1
print(name.find("qqq"))    # -1

print(name.index("art"))   # 1

try:
    print(name.index("qqq"))  # throws an exception
except ValueError:
    pass

1
-1
1

In [164]:
# TRY BY YOURSELF - WRITE CODE HERE

## Lists

### Methods

In [ ]:
# Creating a list
fruits = ['apple', 'banana', 'cherry']

# Accessing elements by index
print(fruits[0])  # Output: apple
print(fruits[-1])  # Output: cherry

# Modifying elements
fruits[1] = 'orange'
print(fruits)  # Output: ['apple', 'orange', 'cherry']

# Adding elements to the end
fruits.append('mango')
print(fruits)  # Output: ['apple', 'orange', 'cherry', 'mango']

# Extending with another list
fruits.extend(['pineapple', 'watermelon'])
print(fruits)  # Output: ['apple', 'orange', 'cherry', 'mango', 'pineapple', 'watermelon']

# Inserting elements at a specific position
fruits.insert(1, 'kiwi')
print(fruits)  # Output: ['apple', 'kiwi', 'orange', 'cherry', 'mango', 'pineapple', 'watermelon']

# Removing elements by value
fruits.remove('cherry')
print(fruits)  # Output: ['apple', 'kiwi', 'orange', 'mango', 'pineapple', 'watermelon']

# Removing elements by index
removed_fruit = fruits.pop(3)
print(removed_fruit)  # Output: mango
print(fruits)  # Output: ['apple', 'kiwi', 'orange', 'pineapple', 'watermelon']

# Sorting the list
fruits.sort()
print(fruits)  # Output: ['apple', 'kiwi', 'orange', 'pineapple', 'watermelon']

# Reversing the order
fruits.reverse()
print(fruits)  # Output: ['watermelon', 'pineapple', 'orange', 'kiwi', 'apple']

# Getting the index of an element
index = fruits.index('orange')
print(index)  # Output: 2

# Getting the count of an element
count = fruits.count('kiwi')
print(count)  # Output: 1

# Getting the length of the list
length = len(fruits)
print(length)  # Output: 5

# Clearing the list
fruits.clear()
print(fruits)  # Output: []

In [ ]:
# TRY BY YOURSELF - WRITE CODE HERE

### Concatenation methods

In [ ]:
# Method 1: Using the + operator
fruits1 = ['apple', 'banana']
fruits2 = ['cherry', 'orange']
concatenated_list = fruits1 + fruits2
print(concatenated_list)  # Output: ['apple', 'banana', 'cherry', 'orange']

# Method 2: Using the extend() method
fruits1 = ['apple', 'banana']
fruits2 = ['cherry', 'orange']
fruits1.extend(fruits2)
print(fruits1)  # Output: ['apple', 'banana', 'cherry', 'orange']

# Method 3: Using the unpacking operator *
fruits1 = ['apple', 'banana']
fruits2 = ['cherry', 'orange']
concatenated_list = [*fruits1, *fruits2]
print(concatenated_list)  # Output: ['apple', 'banana', 'cherry', 'orange']

In [ ]:
# TRY BY YOURSELF - WRITE CODE HERE

### Slicing

In [ ]:
base_list = [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
first_index = 3
first_out_index = 6
step = 2

list1 = base_list[2:first_out_index]
list2 = base_list[first_in_index:]
list3 = base_list[:first_out_index]
list4 = base_list[first_index:first_out_index:step]

print("baselist:", base_list)
print("list1:", list1)
print("list2:", list2)
print("list3:", list3)
print("list4:", list4)

In [ ]:
# TRY BY YOURSELF - WRITE CODE HERE

### Unpacking lists

In [294]:
def add(x, y, z):
    return x + y + z

numbers = [1, 2, 3]

add(*numbers) # results: 6

6

In [164]:
# TRY BY YOURSELF - WRITE CODE HERE

### Destructuring

In [589]:
first, second = [1, 2]
print(first)
print(second)

# first, second = [1, 2, 3, 4]     # <<< this won't work

1
2

### Unpacking with destructuring

In [582]:
numbers = [1, 2, 3, 4, 5, 6, 7, 8, 9]
first, second, *rest, last = numbers
print(first)  # Output: 1
print(second) # Output: 2
print(rest)   # Output: [3, 4, 5, 6, 7, 8]
print(last)   # Output: 9

1
2
[3, 4, 5, 6, 7, 8]
9

In [164]:
# TRY BY YOURSELF - WRITE CODE HERE

## Before we dig deeper (exploring Python tips & tricks)

You can access the built-in documentation (docstrings) of objectrs, modules, functions, classes etc, by passing the object or function name as an argument to `help()`.
```python
help(list)
help(list.append)
```

In [7]:
# TRY BY YOURSELF - WRITE CODE HERE

Jupyter (IPython) also allows adding a `?` suffix to get help, and it provides better coloring.
However it doesn't work on deep chains, so it's better to assign the object you're exploring to a variable first

In [8]:
help?

Signature:   help(*args, **kwds)
Type:        _Helper
String form: Type help() for interactive help, or help(object) for help about object.
Namespace:   Python builtin
File:        /opt/homebrew/Cellar/python@3.10/3.10.11/Frameworks/Python.framework/Versions/3.10/lib/python3.10/_sitebuiltins.py
Docstring:
Define the builtin 'help'.

This is a wrapper around pydoc.help that provides a helpful message
when 'help' is typed at the Python interactive prompt.

Calling help() at the Python prompt starts an interactive help session.
Calling help(thing) prints help for the python object 'thing'.

Another useful function is `dir()`. It returns a list of valid attributes and methods available in current context.

```python
dir(list)
dir()
```

In [12]:
# TRY BY YOURSELF - WRITE CODE HERE

To get more information, `??` can be used to show source code

In [3]:
import numpy as np
np.ones??

Signature: np.ones(shape, dtype=None, order='C', *, like=None)
Docstring:
Return a new array of given shape and type, filled with ones.

Parameters
----------
shape : int or sequence of ints
    Shape of the new array, e.g., ``(2, 3)`` or ``2``.
dtype : data-type, optional
    The desired data-type for the array, e.g., `numpy.int8`.  Default is
    `numpy.float64`.
order : {'C', 'F'}, optional, default: C
    Whether to store multi-dimensional data in row-major
    (C-style) or column-major (Fortran-style) order in
    memory.
like : array_like, optional
    Reference object to allow the creation of arrays which are not
    NumPy arrays. If an array-like passed in as ``like`` supports
    the ``__array_function__`` protocol, the result will be defined
    by it. In this case, it ensures the creation of an array object
    compatible with that passed in via this argument.

    .. versionadded:: 1.20.0

Returns
-------
out : ndarray
    Array of ones with the given shape, dtype, and order.

See Also
--------
ones_like : Return an array of ones with shape and type of input.
empty : Return a new uninitialized array.
zeros : Return a new array setting values to zero.
full : Return a new array of given shape filled with value.


Examples
--------
>>> np.ones(5)
array([1., 1., 1., 1., 1.])

>>> np.ones((5,), dtype=int)
array([1, 1, 1, 1, 1])

>>> np.ones((2, 1))
array([[1.],
       [1.]])

>>> s = (2,2)
>>> np.ones(s)
array([[1.,  1.],
       [1.,  1.]])
Source:
@set_array_function_like_doc
@set_module('numpy')
def ones(shape, dtype=None, order='C', *, like=None):
    """
    Return a new array of given shape and type, filled with ones.

    Parameters
    ----------
    shape : int or sequence of ints
        Shape of the new array, e.g., ``(2, 3)`` or ``2``.
    dtype : data-type, optional
        The desired data-type for the array, e.g., `numpy.int8`.  Default is
        `numpy.float64`.
    order : {'C', 'F'}, optional, default: C
        Whether to store multi-dimensional data in row-major
        (C-style) or column-major (Fortran-style) order in
        memory.
    ${ARRAY_FUNCTION_LIKE}

        .. versionadded:: 1.20.0

    Returns
    -------
    out : ndarray
        Array of ones with the given shape, dtype, and order.

    See Also
    --------
    ones_like : Return an array of ones with shape and type of input.
    empty : Return a new uninitialized array.
    zeros : Return a new array setting values to zero.
    full : Return a new array of given shape filled with value.


    Examples
    --------
    >>> np.ones(5)
    array([1., 1., 1., 1., 1.])

    >>> np.ones((5,), dtype=int)
    array([1, 1, 1, 1, 1])

    >>> np.ones((2, 1))
    array([[1.],
           [1.]])

    >>> s = (2,2)
    >>> np.ones(s)
    array([[1.,  1.],
           [1.,  1.]])

    """
    if like is not None:
        return _ones_with_like(shape, dtype=dtype, order=order, like=like)

    a = empty(shape, dtype, order)
    multiarray.copyto(a, 1, casting='unsafe')
    return a
File:      ~/src/blinkin/llm/venv/lib/python3.10/site-packages/numpy/core/numeric.py
Type:      function

## Dictionaries

In [ ]:
# Creating a dictionary
student = {
    'name': 'John',
    'age': 20,
    'major': 'Computer Science'
}

# Accessing values using keys
print(student['name'])  # Output: John
print(student.get('age'))  # Output: 20

# Modifying values
student['age'] = 21
print(student)  # Output: {'name': 'John', 'age': 21, 'major': 'Computer Science'}

# Adding a new key-value pair
student['university'] = 'ABC University'
print(student)  # Output: {'name': 'John', 'age': 21, 'major': 'Computer Science', 'university': 'ABC University'}

# Removing a key-value pair
del student['major']
print(student)  # Output: {'name': 'John', 'age': 21, 'university': 'ABC University'}

# Checking if a key exists
if 'name' in student:
    print('Name is present in the dictionary.')

# Getting the number of key-value pairs
num_pairs = len(student)
print(num_pairs)  # Output: 3

# Getting a list of keys and values
print(student.keys())  # Output: dict_keys(['name', 'age', 'university'])
print(student.values())  # Output: dict_values(['John', 21, 'ABC University'])

# Getting a list of key-value pairs (as tuples)
items = student.items()
print(items)  # Output: dict_items([('name', 'John'), ('age', 21), ('university', 'ABC University')])

# Clearing the dictionary
student.clear()
print(student)  # Output: {}

In [102]:
# TRY BY YOURSELF - WRITE CODE HERE
q = { "name": "John", "age": 88 }
q["age"] = 125
q["qqqq"] = 123
q

{'name': 'John', 'age': 125, 'qqqq': 123}

## Set

In [ ]:
# Creating a set
fruits = {'apple', 'banana', 'cherry'}
print(fruits)  # Output: {'cherry', 'banana', 'apple'}

# Adding elements to a set
fruits.add('orange')
print(fruits)  # Output: {'cherry', 'banana', 'orange', 'apple'}

# Removing an element from a set
fruits.remove('banana')
print(fruits)  # Output: {'cherry', 'orange', 'apple'}

# Checking if an element is in a set
print('apple' in fruits)  # Output: True
print('watermelon' in fruits)  # Output: False

# Iterating over a set
for fruit in fruits:
    print(fruit)

# Getting the number of elements in a set
print(len(fruits))  # Output: 3

# Creating a set using set() function
numbers = set([1, 2, 3, 4, 5])
print(numbers)  # Output: {1, 2, 3, 4, 5}

# Performing set operations
set1 = {1, 2, 3, 4, 5}
set2 = {4, 5, 6, 7, 8}

# Union of sets
union_set = set1.union(set2)
print(union_set)  # Output: {1, 2, 3, 4, 5, 6, 7, 8}

# Intersection of sets
intersection_set = set1.intersection(set2)
print(intersection_set)  # Output: {4, 5}

# Difference between sets
difference_set = set1.difference(set2)
print(difference_set)  # Output: {1, 2, 3}

# Clearing a set
fruits.clear()
print(fruits)  # Output: set()

In [ ]:
# TRY BY YOURSELF - WRITE CODE HERE

## Tuple

In [ ]:
# Creating a tuple
fruits = ('apple', 'banana', 'cherry')
print(fruits)  # Output: ('apple', 'banana', 'cherry')

# Accessing elements of a tuple
print(fruits[0])  # Output: apple
print(fruits[1])  # Output: banana

# Tuple with a single element
single_element_tuple = ('apple',)
print(single_element_tuple)  # Output: ('apple',)

# Modifying elements of a tuple (not possible)
# fruits[0] = 'orange'  # This will result in an error

# Iterating over a tuple
for fruit in fruits:
    print(fruit)

# Getting the length of a tuple
length = len(fruits)
print(length)  # Output: 3

# Concatenating tuples
fruits2 = ('orange', 'mango')
concatenated_tuple = fruits + fruits2
print(concatenated_tuple)  # Output: ('apple', 'banana', 'cherry', 'orange', 'mango')

# Counting occurrences of an element in a tuple
count = fruits.count('apple')
print(count)  # Output: 1

# Finding the index of an element in a tuple
index = fruits.index('cherry')
print(index)  # Output: 2

In [164]:
# TRY BY YOURSELF - WRITE CODE HERE

### Unpacking tuples

In [280]:
person = ("Bartek", 43)

name, age = person
print('Name:', name)
print('Age:', age)

Name: Bartek
Age: 43

In [164]:
# TRY BY YOURSELF - WRITE CODE HERE

In [279]:
list_of_tuples = [("Bartek", 43), ("John", 88), ("Ann", 38)]

for name, age in list_of_tuples:
    print(f"Person {name} is {age}")

Name: Bartek
Age: 43
Person Bartek is 43
Person John is 88
Person Ann is 38

In [164]:
# TRY BY YOURSELF - WRITE CODE HERE

## Operators

### Arithmetic operators

In [252]:
x = 10
y = 3

print(x + y)  # Output: 13
print(x - y)  # Output: 7
print(x * y)  # Output: 30
print(x / y)  # Output: 3.3333333333333335
print(x // y)  # Output: 3
print(x % y)  # Output: 1
print(x ** y)  # Output: 1000

13
7
30
3.3333333333333335
3
1
1000

In [ ]:
# TRY BY YOURSELF - WRITE CODE HERE

### Comparison operators

In [253]:
x = 5
y = 10

print(x == y)  # Output: False
print(x != y)  # Output: True
print(x > y)  # Output: False
print(x < y)  # Output: True
print(x >= y)  # Output: False
print(x <= y)  # Output: True
print(2 < x <= 8) # Output: True
print(5 <= x < 8) # Output: True

False
True
False
True
False
True
True
True

In [ ]:
# TRY BY YOURSELF - WRITE CODE HERE

### Logical operators

In [254]:
p = True
q = False

print(p and q)  # Output: False
print(p or q)  # Output: True
print(not p)  # Output: False

False
True
False

In [ ]:
# TRY BY YOURSELF - WRITE CODE HERE

### or/and in assignment
or/and can be used in assignment, however you must be careful, as various values are falsy (`0`, `''`, `[]`, `{}`, `None`, `False`).

In [256]:
# Using 'or' for assignment
y = None
y = y or "default"
print(y)  # Outputs: "default"

# Using 'and' for assignment
condition = True
result = condition and "Condition is True"
print(result)  # Outputs: "Condition is True"

# be careful about false values
x = 0
x = x or 17
print(x)

default
Condition is True
17

In [164]:
# TRY BY YOURSELF - WRITE CODE HERE

### Assignment operators

In [114]:
x = 5
x += 2
print(x)  # Output: 7

x -= 3
print(x)  # Output: 4

x *= 2
print(x)  # Output: 8

x /= 4
print(x)  # Output: 2.0

x %= 3
print(x)  # Output: 2.0

x **= 2
print(x)  # Output: 4.0

In [ ]:
# TRY BY YOURSELF - WRITE CODE HERE

### Membership operators

In [114]:
fruits = ['apple', 'banana', 'cherry']

is_in_list = 'apple' in fruits
print(is_in_list)  # Output: True

is_not_in_list = 'orange' not in fruits
print(is_not_in_list)  # Output: True

In [ ]:
# TRY BY YOURSELF - WRITE CODE HERE

### Identity operators

In [115]:
x = 5
y = 5
z = x

is_same_object = x is y
print(is_same_object)  # Output: True

is_different_object = x is not z
print(is_different_object)  # Output: False

True
False

In [ ]:
# TRY BY YOURSELF - WRITE CODE HERE

## Conditionals

### if elif else

In [233]:
# Define the conditions
temperature = 15  # the current temperature in degrees
is_raining = True  # is it raining?

# Check conditions and decide what to wear
if temperature > 30:
    print("It's hot, wear shorts and a t-shirt.")
elif 20 <= temperature <= 30 and not is_raining:
    print("It's mild, wear jeans and a t-shirt.")
elif 10 <= temperature < 20 or is_raining:
    print("It's a bit cold or rainy, wear a jacket.")
else:
    print("It's cold, wear a winter coat.")

It's a bit cold or rainy, wear a jacket.

In [ ]:
# TRY BY YOURSELF - WRITE CODE HERE

### Conditional assignment

In [259]:
value = None
default_value = "Default Value"

result = default_value if value is None else value
print(result)  # Output: "Default Value"

Default Value

In [164]:
# TRY BY YOURSELF - WRITE CODE HERE

# Iterating over data

## Iterating over elements

### for loop

In [127]:
# Iterate over a list
fruits = ['apple', 'banana', 'cherry']
for fruit in fruits:
    print(fruit)

# Iterate over a list with index
fruits = ['apple', 'banana', 'cherry']
for index, fruit in enumerate(fruits):
    print(index, fruit)

# Iterate over a string
message = 'Hello, World!'
for char in message:
    print(char)

# Iterate over a range of numbers
for num in range(1, 6):
    print(num)

# Iterate over a dictionary
student = {
    'name': 'John',
    'age': 20,
    'major': 'Computer Science'
}
for key, value in student.items():
    print(key, value)

# Iterate over a tuple of tuples
matrix = ((1, 2, 3), (4, 5, 6), (7, 8, 9))
for row in matrix:
    for element in row:
        print(element)

# Iterate over a list in reverse
numbers = [1, 2, 3, 4, 5]
for num in reversed(numbers):
    print(num)

# Iterate over multiple lists simultaneously
fruits = ['apple', 'banana', 'cherry']
colors = ['red', 'yellow', 'blue']
for fruit, color in zip(fruits, colors):
    print(fruit, color)

apple
banana
cherry
0 apple
1 banana
2 cherry
H
e
l
l
o
,

W
o
r
l
d
!
1
2
3
4
5
name John
age 20
major Computer Science
1
2
3
4
5
6
7
8
9
5
4
3
2
1
apple red
banana yellow
cherry blue

In [164]:
# TRY BY YOURSELF - WRITE CODE HERE

### for ... else

In [129]:
numbers = [1, 2, 3, 4, 5]

# Find the first even number in the list
for num in numbers:
    if num % 2 == 0:
        print("First even number found:", num)
        break
else:
    print("No even number found in the list.")

First even number found: 2

In [164]:
# TRY BY YOURSELF - WRITE CODE HERE

### while

In [262]:
i = 1
while i < 5:
    print(i)
    i += 1

1
2
3
4

In [164]:
# TRY BY YOURSELF - WRITE CODE HERE

## Iterators

### map

In [283]:
numbers = [1, 2, 3, 4, 5]
squared = map(lambda x: x**2, numbers)

print(list(squared))  # Output: [1, 4, 9, 16, 25]

[1, 4, 9, 16, 25]

In [164]:
# TRY BY YOURSELF - WRITE CODE HERE

### filter

In [302]:
numbers = [1, 2, 3, 4, 5, 6]
even_numbers = filter(lambda x: x % 2 == 0, numbers)

list(even_numbers)  # [2, 4, 6]

[2, 4, 6]

In [164]:
# TRY BY YOURSELF - WRITE CODE HERE

### zip

In [299]:
names = ["Alice", "Bob", "Charlie"]
ages = [25, 30, 35]
combined = zip(names, ages)

list(combined)  # [('Alice', 25), ('Bob', 30), ('Charlie', 35)]

[('Alice', 25), ('Bob', 30), ('Charlie', 35)]

In [164]:
# TRY BY YOURSELF - WRITE CODE HERE

In [301]:
keys = ["name", "age", "job"]
values = ["Alice", 25, "Engineer"]

dict(zip(keys, values))   # {'name': 'Alice', 'age': 25, 'job': 'Engineer'}

{'name': 'Alice', 'age': 25, 'job': 'Engineer'}

In [164]:
# TRY BY YOURSELF - WRITE CODE HERE

## Generators

In [265]:
def get_numbers():
    yield 1
    yield 2
    yield 3

# Create a generator
numbers = get_numbers()

# Use the generator
for number in numbers:
    print(number)

1
2
3

In [164]:
# TRY BY YOURSELF - WRITE CODE HERE

## Comprehensions

### List comprehension
`[<expression> for <var> in <iterable>]` 

or

`[<expression> for <var> in <iterable> if <condition>]`

In [268]:
people = [
    {"name": "Alice", "age": 25},
    {"name": "Bob", "age": 19},
    {"name": "Charlie", "age": 30},
    {"name": "Diana", "age": 15},
]

# Use a list comprehension to get a list of all names
names = [person["name"] for person in people]
print(names)
# Output: ['Alice', 'Bob', 'Charlie', 'Diana']

# Use a list comprehension to get a list of names for people older than 20
names_over_20 = [person["name"] for person in people if person["age"] > 20]
print(names_over_20)
# Output: ['Alice', 'Charlie']

['Alice', 'Bob', 'Charlie', 'Diana']
['Alice', 'Charlie']

In [164]:
# TRY BY YOURSELF - WRITE CODE HERE

it's also possible to make a conditional expression, although the code isn't that readable then

In [2]:
people = [
    {"name": "Alice", "age": 25},
    {"name": "Bob", "age": 19},
    {"name": "Charlie", "age": 30},
    {"name": "Diana", "age": 15},
    {"name": "", "age": 22},  # person with empty name
]

# Use a list comprehension with an if-else expression to replace empty names
names = [person["name"] if person["name"] != "" else "Unknown" for person in people]
print(names)
# Output: ['Alice', 'Bob', 'Charlie', 'Diana', 'Unknown']

['Alice', 'Bob', 'Charlie', 'Diana', 'Unknown']

In [164]:
# TRY BY YOURSELF - WRITE CODE HERE

### Tuple comprehension

In [272]:
# this IS NOT how you create a tuple comprehension
nums = (x for x in range(10))
print(nums)
# Output: <generator object <genexpr> at 0x7f8d596564a0>

# this IS how you do it
nums = tuple(x for x in range(10))
print(nums)
# Output: (0, 1, 2, 3, 4, 5, 6, 7, 8, 9)

<generator object <genexpr> at 0x108c04970>
(0, 1, 2, 3, 4, 5, 6, 7, 8, 9)

In [164]:
# TRY BY YOURSELF - WRITE CODE HERE

### Dictionary comprehension
`{ key:value for (key) in ... }`

or

`{ key:value for (key, value) in ... }`

In [274]:
# List of people, where each person is represented as a dictionary
people = [
    {"name": "Alice", "age": 25},
    {"name": "Bob", "age": 19},
    {"name": "Charlie", "age": 30},
    {"name": "Diana", "age": 15},
]

# Create a dictionary with name as the key and age as the value
name_to_age = {person["name"]: person["age"] for person in people}

print(name_to_age)
# Output: {'Alice': 25, 'Bob': 19, 'Charlie': 30, 'Diana': 15}

{'Alice': 25, 'Bob': 19, 'Charlie': 30, 'Diana': 15}

In [164]:
# TRY BY YOURSELF - WRITE CODE HERE

# Functions

### Basic function

In [107]:
def add(a, b):
    return a + b

# add(200, 500)

# print(add(5, 3))  # Output: 8

700

In [111]:
# TRY BY YOURSELF - WRITE CODE HERE
2**5

32

### Default arguments

In [115]:
def power(base, exponent=2):
    return base ** exponent

# power(4)
# print(power(2))       # Output: 4 (exponent takes its default value 2)
# print(power(2, 3))    # Output: 8

16

In [119]:
# TRY BY YOURSELF - WRITE CODE HERE
def make_coffee(size, grain_size, water_temp = 10, amount_of_something = 4, with_milk = False):
    print("I'm making coffee")
    print(f"The size you've selected is {size}")
    print(f"The grain size is {grain_size}")
    print(f"With milk: {with_milk}")

make_coffee(10, 3, with_milk=True)

I'm making coffee
The size you've selected is 10
The grain size is 3
With milk: True

### Keywords

In [310]:
def subtract(a, b):
    return a - b

subtract(b=5, a=10)  # Output: 5

5

In [164]:
# TRY BY YOURSELF - WRITE CODE HERE

### Returning multiple values

In [312]:
def min_max(nums):
    return min(nums), max(nums)

numbers = [1, 2, 3, 4, 5]
min_num, max_num = min_max(numbers)
print(min_num)  # Output: 1
print(max_num)  # Output: 5

1
5

In [164]:
# TRY BY YOURSELF - WRITE CODE HERE

### Positional arguments and keyword arguments

In [328]:
def flexible_function(*args, **kwargs):
    print("args:", args)
    print("kwargs:", kwargs)

flexible_function(1, 2, 3, a=4, b=5, c=6, )
# Output: 
# args: (1, 2, 3)
# kwargs: {'a': 4, 'b': 5, 'c': 6}

args: (1, 2, 3)
kwargs: {'a': 4, 'b': 5, 'c': 6}

In [164]:
# TRY BY YOURSELF - WRITE CODE HERE

### Lambda

In [330]:
multiply = lambda a, b: a * b

print(multiply(5, 3))  # Output: 15

15

In [164]:
# TRY BY YOURSELF - WRITE CODE HERE

# Classes

## Simple class

In [424]:
class Person:
    """A simple example class"""
    
    static_variable = 10

    def __init__(self, name, age, is_sick=True):
        self.name = name
        self.age = age
        self.is_sick = is_sick

    def say_hello(self):
        print(f'Hello from {self.name}! I am {"sick" if self.is_sick else "healthy"}')
        

    @staticmethod
    def static_method():
        print(f'Static variable is: {Person.static_variable}')

# Instantiating an object
person1 = Person("Bartek", 43)
person1.say_hello()

person2 = Person("Ann", 37, False)
person2.say_hello()

Person.static_variable = 100
Person.static_method()
person1.static_method()

person1.static_variable = 10     # <<< beware
print(person1.static_variable)   # <<< beware
print(Person.static_variable)

Hello from Bartek! I am sick
Hello from Ann! I am healthy
Static variable is: 100
Static variable is: 100
10
100

In [164]:
# TRY BY YOURSELF - WRITE CODE HERE

## Inheritance

In [426]:
class HealthyPerson(Person):
    def __init__(self, name, age):
        super().__init__(name, age, False)
        
person = HealthyPerson("Ann", 37)
person.say_hello()

Hello from Ann! I am healthy

In [164]:
# TRY BY YOURSELF - WRITE CODE HERE

## Operator overload
Python allows a number of special methods to overload certain operators in classes. Here are some of them:

1. Arithmetic Operators:
    - `__add__(self, other)`: for `+`.
    - `__sub__(self, other)`: for `-`.
    - `__mul__(self, other)`: for  `*`.
    - `__truediv__(self, other)`: for `/`.
    - `__floordiv__(self, other)`: for `//`.
    - `__mod__(self, other)`: for `%`.
    - `__pow__(self, other[, modulo])`: for `**`.

2. Assignment Operators:
    - `__iadd__(self, other)`: for `+=`.
    - `__isub__(self, other)`: for `-=`.
    - `__imul__(self, other)`: for `*=`.
    - And similar methods for other assignment operators.

3. Unary Operators:
    - `__neg__(self)`: for the negation (`-`).
    - `__pos__(self)`: for unary positive (`+`).
    - `__abs__(self)`: for the built-in `abs()` function.

4. Comparison Operators:
    - `__lt__(self, other)`: for `<`.
    - `__le__(self, other)`: for `<=`.
    - `__eq__(self, other)`: for `==`.
    - `__ne__(self, other)`: for `!=`.
    - `__gt__(self, other)`: for `>`.
    - `__ge__(self, other)`: for `>=`.

5. Type Conversion:
    - `__int__(self)`: used when `int()` is called on an instance of your class.
    - `__float__(self)`: used when `float()` is called on an instance of your class.
    - `__bool__(self)`: used when `bool()` is called on an instance of your class.

6. Object Representation:
    - `__str__(self)`: for when `str()` is called on an instance of your class.

7. Others, e.g. `__getitem__`, `__setitem__`, `__delitem__`, `__iter__`, `__contains__`, `__len__` etc

In [374]:
class Vector:
    def __init__(self, x=0, y=0):
        self.x = x
        self.y = y

    def __str__(self):
        return f"Vector({self.x}, {self.y})"

    def __add__(self, other):
        if isinstance(other, Vector):
            return Vector(self.x + other.x, self.y + other.y)
        else:
            raise TypeError("Both operands must be Vectors")

    def __sub__(self, other):
        if isinstance(other, Vector):
            return Vector(self.x - other.x, self.y - other.y)
        else:
            raise TypeError("Both operands must be Vectors")


# Create two vectors
v1 = Vector(2, 4)
v2 = Vector(3, 1)

# Add the vectors
v3 = v1 + v2
print(v3)  # Output: Vector(5, 5)

# Subtract the vectors
v4 = v1 - v2
print(v4)  # Output: Vector(-1, 3)

Vector(5, 5)
Vector(-1, 3)

In [164]:
# TRY BY YOURSELF - WRITE CODE HERE

# Modules
Python modules are .py files that consist of Python code. A module can define functions, classes, and variables.

To use a module in your code, you need to import it.

## import ...

In [382]:
import math

# Use the `sqrt` function from the `math` module to compute the square root of 16
print(math.sqrt(16))  # Output: 4.0

# Use the `pi` constant from the `math` module
print(math.pi)  # Output: 3.141592653589793

# Use the `sin` function from the `math` module
print(math.sin(math.pi/2))  # Output: 1.0

4.0
3.141592653589793
1.0

## import ... as alias

In [387]:
import math as m

# Use the `sqrt` function from the `math` module to compute the square root of 16
print(m.sqrt(16))  # Output: 4.0

# Use the `pi` constant from the `math` module
print(m.pi)  # Output: 3.141592653589793

# Use the `sin` function from the `math` module
print(math.sin(m.pi/2))  # Output: 1.0

4.0
3.141592653589793
1.0

## from ... import ...

In [385]:
from math import sqrt, pi

# Now we can use `sqrt` and `pi` directly, without prefixing them with `math.`
print(sqrt(16))  # Output: 4.0
print(pi)  # Output: 3.141592653589793

4.0
3.141592653589793

## from ... import *

In [396]:
from math import *

print(sqrt(16))

# You can use dir() to see what's available in current scope

4.0

## Packages

Modules can be grouped into packages (directories containing them).
Package has a special file called `__init__.py`. It can be empty, or contain initialization logic.
To use a module from a package, you we use a dot notation
```python
import super_package.super_module
from  another_package.another_module import super_function
```

# Random generator

## random, randint, shuffle, choice, sample

In [549]:
import random

print(random.random())  # <0, 1)

# integer from a range (inclusive on both sides)
print(random.randint(1, 10))

# shuffling lists
my_list = [1, 2, 3, 4, 5]
random.shuffle(my_list)
print(my_list)

# selecting random element from a list
my_list = ["apple", "banana", "cherry", "date"]
print(random.choice(my_list))

# selecting multiple elements from a list
my_list = ["apple", "banana", "cherry", "date"]
print(random.sample(my_list, 3))

0.09369523986159245
4
[2, 4, 3, 1, 5]
date
['banana', 'date', 'cherry']

## seed

In [550]:
random.seed(42)
print(random.random())

random.seed(42)
print(random.random())

0.6394267984578837
0.6394267984578837

# Exceptions

## Handling specific exception

In [397]:
try:
    x = 10 / 0
except ZeroDivisionError:
    print("Cannot divide by zero.")

Cannot divide by zero.

In [164]:
# TRY BY YOURSELF - WRITE CODE HERE

## Handling multiple exceptions

In [405]:
try:
    x = int("abc")
except ValueError:
    print("Invalid value.")
except TypeError:
    print("Incorrect type.")

Invalid value.

In [164]:
# TRY BY YOURSELF - WRITE CODE HERE

## Handly any exception

In [406]:
try:
    x = 10 / 0
except Exception as e:
    print("An error occurred:", str(e))

An error occurred: division by zero

In [164]:
# TRY BY YOURSELF - WRITE CODE HERE

## else block

In [400]:
try:
    x = 10 / 5
except ZeroDivisionError:
    print("Cannot divide by zero.")
else:
    print("Division successful.")

Division successful.

In [164]:
# TRY BY YOURSELF - WRITE CODE HERE

##  finally block

In [408]:
try:
    x = 10 / 0
except ZeroDivisionError:
    print("Cannot divide by zero.")
finally:
    print("Cleanup code.")

Cannot divide by zero.
Cleanup code.

In [164]:
# TRY BY YOURSELF - WRITE CODE HERE

## raising exceptions
Any class that derives BaseException can be raised

In [411]:
def validate_age(age):
    if age < 0:
        raise ValueError("Age cannot be negative.")

try:
    validate_age(-5)
except ValueError as ve:
    print(ve)

Age cannot be negative.

In [164]:
# TRY BY YOURSELF - WRITE CODE HERE

# with

## working with files example

In [430]:
# Writing to a file
with open('example.txt', 'w') as file:
    file.write('Hello, World!\n')
    file.write('This is an example file.\n')

# Appending to a file
with open('example.txt', 'a') as file:
    file.write('This line is appended.\n')

# Reading from a file
with open('example.txt', 'r') as file:
    content = file.read()
    print(content)

# Reading line by line from a file
with open('example.txt', 'r') as file:
    for line in file:
        print(line.strip())

In [164]:
# TRY BY YOURSELF - WRITE CODE HERE

## Custom context manager interface (__enter__, __exit__)

In [434]:
class CustomFile:
    def __init__(self, file_path, mode):
        self.file_path = file_path
        self.mode = mode
        self.file = None

    def __enter__(self):
        self.file = open(self.file_path, self.mode)
        return self.file

    def __exit__(self, exc_type, exc_val, exc_tb):
        self.file.close()

# Using the custom class with the with statement
with CustomFile('example.txt', 'w') as file:
    file.write('Hello, World!\n')
    file.write('This is an example file.\n')

with CustomFile('example.txt', 'a') as file:
    file.write('This line is appended.\n')

with CustomFile('example.txt', 'r') as file:
    content = file.read()
    print(content)

Hello, World!
This is an example file.
This line is appended.

In [164]:
# TRY BY YOURSELF - WRITE CODE HERE

## Custom context manager using contextlib

In [437]:
from contextlib import contextmanager

@contextmanager
def file_opener(file_path, mode):
    try:
        file = open(file_path, mode)
        yield file
        print("end of try block")
    finally:
        print("we're in finally")
        file.close()

with file_opener('example.txt', 'r') as file:
    content = file.read()
    print(content)

Hello, World!
This is an example file.
This line is appended.

end of try block
we're in finally

In [164]:
# TRY BY YOURSELF - WRITE CODE HERE

# json

## Saving dictionary as JSON

In [451]:
import json

person = {
    "name": "John Doe",
    "age": 30,
    "city": "New York",
    "hobbies": ["reading", "traveling", "music"],
    "is_student": True
}

with open('sample.json', 'w') as file:
    json.dump(person, file)

with open('sample.json', 'r') as file:
    content = file.read()
    print(content)

{"name": "John Doe", "age": 30, "city": "New York", "hobbies": ["reading", "traveling", "music"], "is_student": true}

In [164]:
# TRY BY YOURSELF - WRITE CODE HERE

## Reading JSON from file

In [453]:
with open('sample.json', 'r') as file:
    data = json.load(file)

print(data)
print(data["name"])
print(data["hobbies"][0])

{'name': 'John Doe', 'age': 30, 'city': 'New York', 'hobbies': ['reading', 'traveling', 'music'], 'is_student': True}
John Doe
reading

In [164]:
# TRY BY YOURSELF - WRITE CODE HERE

## Parsing and dumping JSON from/to variable
Use `loads` and `dumps` methods instead of `load` and `dump`

In [456]:
json_content = """
{
    "name": "Bartek",
    "age": 43,
    "is_student": true
}
"""

# Parse JSON to Python dictionary
data = json.loads(json_content)

print(data["name"])  # Output: Bartek
print(data["age"])   # Output: 43

# Modify data
data["name"] = "John"
data["is_student"] = False

print(json.dumps(data))

Bartek
43
{"name": "John", "age": 43, "is_student": false}

In [164]:
# TRY BY YOURSELF - WRITE CODE HERE

## YAML

### Reading YAML from memory

In [476]:
import yaml

yaml_data = """
- name: Bartek
  age: 43
  is_student: false
  hobbies:
  - VR
  - AI
  - music composition
- name: Ann
  age: 37
  is_student: true
  hobbies:
  - playing piano
"""

data = yaml.safe_load(yaml_data)
print(data[0]["name"])
print(data[0]["hobbies"])

Bartek
['VR', 'AI', 'music composition']

In [164]:
# TRY BY YOURSELF - WRITE CODE HERE

### Dumping YAML in memory

In [473]:
data[1]["name"] = "Joanna"
data[1]["age"] = 32

print(yaml.dump(data, sort_keys=False))

- name: Bartek
  age: 43
  is_student: false
  hobbies:
  - VR
  - AI
  - music composition
- name: Joanna
  age: 32
  is_student: true
  hobbies:
  - playing piano

In [164]:
# TRY BY YOURSELF - WRITE CODE HERE

### Reading and writing YAML files

In [484]:
with open('sample.yaml', 'w') as file:
     yaml.dump(data, file, sort_keys=False)

with open('sample.yaml', 'r') as file:
     data = yaml.safe_load(file)

print(data[0]["name"])

Bartek

In [164]:
# TRY BY YOURSELF - WRITE CODE HERE

# Regex


- `^` - start of a string, `$` - end of a string
- `[abc]` - any single character from the given set.
- `[^abc]` - any single character not in the given set.
- `[a-z]` - any single character in the range from a to z.

* `*` - zero or more occurrences.
* `+` - one or more occurrences.
* `?` - zero or one occurrence.
* `{n}` - exactly n occurrences.
* `{n,}` - n or more occurrences.
* `{n,m}` - between n and m occurrences.

- `(...)` - a group for capturing
- `(?P<name>...)` - named group for easy access.

* `|` - either the expression before or after the alternation operator.

- `\d` - any digit character.
- `\D` - any non-digit character.
- `\w` - any word character (alphanumeric or underscore).
- `\W` - any non-word character.
- `\s` - any whitespace character.
- `\S` - any non-whitespace character.
- `\b` - a word boundary.
- `\B` - a non-word boundary.
- `.` - any character except a newline character.

## Data extraction

In [518]:
import re

email = "john.doe@example.com"

pattern = r"(\w+)\.(\w+)@([\w\.]+)$"

match = re.match(pattern, email)
if match:
    username = match.group(1)
    domain = match.group(3)
    print("Username:", username)
    print("Domain:", domain)

Username: john
Domain: example.com

In [164]:
# TRY BY YOURSELF - WRITE CODE HERE

### Named groups

In [527]:
import re

email = "john.doe@example.com"

pattern = r"(?P<username>\w+)\.(?P<subdomain>\w+)@(?P<domain>\w+\.\w+)"
match = re.match(pattern, email)
if match:
    username = match.group('username')
    subdomain = match.group('subdomain')
    domain = match.group('domain')
    print("Username:", username)
    print("Subdomain:", subdomain)
    print("Domain:", domain)

Username: john
Subdomain: doe
Domain: example.com

In [164]:
# TRY BY YOURSELF - WRITE CODE HERE

### Groupdict

In [526]:
import re

email = "john.doe@example.com"

pattern = r"(?P<username>\w+)\.(?P<subdomain>\w+)@(?P<domain>\w+\.\w+)"
match = re.match(pattern, email)
if match:
    parts = match.groupdict()
    print("Username:", parts['username'])
    print("Subdomain:", parts['subdomain'])
    print("Domain:", parts['domain'])

Username: john
Subdomain: doe
Domain: example.com

In [164]:
# TRY BY YOURSELF - WRITE CODE HERE

## Replacement

In [529]:
import re

text = "The quick brown fox jumps over the lazy dog."

pattern = r"\b\w{5}\b"
replacement = "*****"
new_text = re.sub(pattern, replacement, text)
print(new_text)

The ***** ***** fox ***** over the lazy dog.

In [164]:
# TRY BY YOURSELF - WRITE CODE HERE

### Replacement with groups

In [532]:
email = "john.doe@example.com"

pattern = r"(\w+)\.(\w+)@([\w\.]+)$"

replacement = r"\1-\2@\3"
new_email = re.sub(pattern, replacement, email)
print("New Email:", new_email)

New Email: john-doe@example.com

In [164]:
# TRY BY YOURSELF - WRITE CODE HERE

## Spliting data

In [510]:
email = "john.doe@example.com"

pattern = r"(\w+)\.(\w+)@([\w\.]+)$"

parts = re.split(pattern, email)
print("Username:", parts[1])
print("Domain:", parts[3])

Username: john
Domain: example.com

In [164]:
# TRY BY YOURSELF - WRITE CODE HERE

# Other

## argv

In [552]:
import sys
sys.argv

['/Users/bartoszpampuch/src/ai-pragmatic/venv/lib/python3.10/site-packages/ipykernel_launcher.py',
 '-f',
 '/Users/bartoszpampuch/Library/Jupyter/runtime/kernel-f723be86-3514-45f3-9357-7c39095498b5.json']

## current dir and OS path separator

In [564]:
import os

print (os.curdir)
print (os.sep)

.
/

## Dates

In [569]:
from datetime import datetime

now = datetime.now()
print(now.strftime("%Y-%m-%d %H:%M:%S"))

some_date = datetime(2023, 7, 3)
print(some_date.month)

2023-07-02 19:57:46
7

### Deltas

In [576]:
from datetime import datetime, timedelta

now = datetime.now()
yesterday = now - timedelta(days=1)
print(yesterday)

if now > yesterday:
    print("Time goes in the right direction")
else:
    print("Something's ***** up")

2023-07-01 19:59:45.864787
Time goes in the right direction

In [291]:
matrix = [[1, 2, 3], [4, 5, 6], [7, 8, 9]]
transposed = list(zip(*matrix))
print(transposed)
# Output: [(1, 4, 7), (2, 5, 8), (3, 6, 9)]

[(1, 4, 7), (2, 5, 8), (3, 6, 9)]

In [164]:
# TRY BY YOURSELF - WRITE CODE HERE

# Other useful patterns

## Sorting

Sorting tuples with specific key

In [5]:
# Sample collection of tuples
data = [
    (3.14, 'Pi'),
    (2.72, 'Euler'),
    (1.62, 'Golden ratio'),
    (0.58, 'Some value')
]

# Sort the collection by the float values in descending order
sorted_data = sorted(data, key=lambda x: x[0], reverse=True)

# Print the sorted data
for item in sorted_data:
    print(item)

(3.14, 'Pi')
(2.72, 'Euler')
(1.62, 'Golden ratio')
(0.58, 'Some value')